.hexagon-item {
  cursor  : pointer;
  float   : left;
  z-index : 0;
  position: relative;
}

.hexagon-item span {
  color      : #fff;
  font-weight: 500;
  font-size  : 16px;
}


.site-wrapper {
  display    : flex;
  padding    : 0 0 0 100px;
  align-items: center;
}

.pt-table {
  display: flex;
  gap    : 80px;
}