.App {
  text-align: center;
}

.App-logo {
  height        : 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height      : 100vh;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  font-size       : calc(10px + 2vmin);
  color           : white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.login-container {
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 100vh;
  background     : #f4f6f8;
}

.login-box {
  background   : white;
  padding      : 2rem 3rem;
  border-radius: 10px;
  box-shadow   : 0 8px 20px rgba(0, 0, 0, 0.1);
  width        : 350px;
  text-align   : center;
}

.login-box h2 {
  margin-bottom: 1.5rem;
  color        : #333;
}

.login-box input {
  width        : 100%;
  padding      : 0.75rem;
  margin       : 0.5rem 0;
  border       : 1px solid #ccc;
  border-radius: 6px;
  font-size    : 16px;
}

.login-box button {
  width           : 100%;
  padding         : 0.75rem;
  background-color: #007bff;
  color           : white;
  border          : none;
  border-radius   : 6px;
  font-size       : 16px;
  margin-top      : 1rem;
  cursor          : pointer;
  transition      : background-color 0.3s;
}

.login-box button:hover {
  background-color: #0056b3;
}

.product-card {
  background-color: white;
  border-radius   : 12px;
  box-shadow      : 0 4px 12px rgba(0, 0, 0, 0.1);
  padding         : 24px;
  max-width       : 300px;
  width           : 100%;
  position        : relative;
}

.icons-like {
  position: absolute;
  right   : 5px;
  top     : 10px;
}

.icons-like button {
  border    : none;
  background: none;
}

.like-icon {
  font-size   : 26px;
  stroke      : rgb(200 18 18);
  fill        : rgb(230 19 19);
  stroke-width: 1px;
}

.unlike-icon {
  font-size: 26px;
  color    : red;

}

.product-description {
  color        : #555;
  font-size    : 0.95em;
  margin-bottom: 20px;
}

.product-footer {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.product-price {
  font-weight: bold;
  color      : #28a745;
  font-size  : 1.1em;
}

.add-to-cart {
  background-color: #007bff;
  color           : white;
  border          : none;
  padding         : 8px 16px;
  border-radius   : 6px;
  cursor          : pointer;
  transition      : background-color 0.3s ease;
  text-decoration : none;
}

.add-to-cart:hover {
  background-color: #0056b3;
}

.product-detail-container {
  justify-content: center;
  padding        : 40px 20px;
  min-height     : 100vh;
}

.product-card {
  display       : flex;
  flex-direction: column;
  background    : white;
  border-radius : 12px;
  box-shadow    : 0 4px 16px rgba(0, 0, 0, 0.1);
  max-width     : 800px;
  width         : 100%;
  overflow      : hidden;
}

.product-image img {
  width     : 100%;
  height    : auto;
  object-fit: cover;
}

.product-info {
  padding: 24px;
}

.product-name {
  font-size    : 16px;
  margin       : 6px 0;
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
}

.product-description {
  color             : #555;
  margin-bottom     : 6px 0;
  display           : -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow          : hidden;
  text-overflow     : ellipsis;
}

.product-price {
  font-size       : 1.2rem;
  color           : #28a745;
  font-weight     : bold;
  /* margin-bottom: 20px; */
}

.quantity-wrapper {
  display      : flex;
  align-items  : center;
  gap          : 10px;
  margin-bottom: 20px;
}

.quantity-input {
  width        : 60px;
  padding      : 8px;
  font-size    : 1rem;
  border-radius: 6px;
  border       : 1px solid #ccc;
}

.add-to-cart-button {
  background-color: #007bff;
  color           : white;
  border          : none;
  padding         : 12px 20px;
  font-size       : 1rem;
  border-radius   : 6px;
  cursor          : pointer;
  transition      : background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}

.user-form {
  max-width    : 400px;
  margin       : 50px auto;
  padding      : 2rem;
  background   : #f9f9f9;
  border-radius: 8px;
  box-shadow   : 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-form h2 {
  text-align   : center;
  margin-bottom: 1rem;
}

.user-form label {
  display    : block;
  margin-top : 1rem;
  font-weight: bold;
}

.user-form input {
  width        : 100%;
  padding      : 0.5rem;
  margin-top   : 0.25rem;
  border       : 1px solid #ccc;
  border-radius: 4px;
}

.user-form button {
  margin-top      : 1.5rem;
  width           : 100%;
  padding         : 0.75rem;
  background-color: #007bff;
  color           : white;
  border          : none;
  border-radius   : 4px;
  cursor          : pointer;
  font-size       : 1rem;
}

.user-form button:hover {
  background-color: #0056b3;
}

.logo-container {
  max-width : 200px;
  max-height: 70px;
}

.menu-logo {
  display: flex;
}

.topbar-shadow {
  background: #000;
  padding   : 15px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position  : fixed;
  width     : 100%;
  z-index   : 10000;
}

.loader-routing {
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 100vh;
}

.image-div {
  display        : flex;
  justify-content: center;
}

.image-div .width-image {
  max-width : 150px;
  max-height: 150px;
  overflow  : hidden;
  height    : 150px;
}

.grid-class {
  padding-bottom: 20px;
}

.product-image-view {
  max-width: 350px;
}

.go-to-card {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
}

.children-component {
  padding-top: 90px;
}
h3 {
  font-size: 16px;
}

.text-navy {
  color: #1ab394;
}

.cart-product-imitation {
  text-align      : center;
  padding-top     : 30px;
  height          : 80px;
  width           : 80px;
  background-color: #f8f8f9;
}

.product-imitation.xl {
  padding: 120px 0;
}

.product-desc {
  padding : 20px;
  position: relative;
}

.ecommerce .tag-list {
  padding: 0;
}

.ecommerce .fa-star {
  color: #d1dade;
}

.ecommerce .fa-star.active {
  color: #f8ac59;
}

.ecommerce .note-editor {
  border: 1px solid #e7eaec;
}

table.shoping-cart-table {
  margin-bottom: 0;
}

table.shoping-cart-table tr td {
  border    : none;
  text-align: right;
}

table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
  text-align: left;
}

table.shoping-cart-table tr td:last-child {
  width: 80px;
}

.ibox {
  clear        : both;
  margin-bottom: 25px;
  margin-top   : 0;
  padding      : 0;
}

.ibox.collapsed .ibox-content {
  display: none;
}

.ibox:after,
.ibox:before {
  display: table;
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors  : none;
  -moz-border-right-colors : none;
  -moz-border-top-colors   : none;
  background-color         : #ffffff;
  border-color             : #e7eaec;
  border-image             : none;
  border-style             : solid solid none;
  border-width             : 3px 0 0;
  color                    : inherit;
  margin-bottom            : 0;
  padding                  : 14px 15px 7px;
  min-height               : 48px;
}

.ibox-content {
  background-color: #ffffff;
  color           : inherit;
  padding         : 15px 20px 20px 20px;
  border-color    : #e7eaec;
  border-image    : none;
  border-style    : solid solid none;
  border-width    : 1px 0;
}

.ibox-footer {
  color     : inherit;
  border-top: 1px solid #e7eaec;
  font-size : 90%;
  background: #ffffff;
  padding   : 10px 15px;
}

.image-div-category {
  max-width      : 100px;
  display        : flex;
  justify-content: center;
}

.image-div-category img {
  width        : 75px;
  height       : 75px;
  border-radius: 100px;
}

.category-section {
  display: flex;
  gap    : 20px;
}

.category-section button {
  border    : none;
  background: none;
}

.category-section h6 {
  text-align: center;
}

.product-card-section {
  margin-top: 30px;
}

.logout-manage {
  display        : flex;
  justify-content: space-between;
}

.logout-div button {
  color     : #fff;
  background: none;
  border    : none;
}

.Toastify {
  z-index : 1000000;
  position: relative;
}

.btn-group button {
  align-items: center;
  gap        : 10px;
  font-weight: 600;
  margin-top : 20px;
  display    : flex;
}

.btn-group svg {
  width : 26px !important;
  height: 26px !important;
  color : #fff;
}

.btn-group a {
  text-decoration: none;
  align-items    : center;
  display        : flex;
  gap            : 10px;
}

.button-92 {
  --c: #fff;
  /* text color */
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p, 100%)/300% no-repeat,
    #004dff;
  /* background color */
  color    : #0000;
  border   : none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i, -1)));
  text-shadow: calc(var(--_i, -1)* 0.08em) -.01em 0 var(--c),
    calc(var(--_i, -1)*-0.08em) .01em 2px #0004;
  outline-offset: .1em;
  transition    : 0.3s;
}

.button-92:hover,
.button-92:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-92:active {
  text-shadow: none;
  color      : var(--c);
  box-shadow : inset 0 0 9e9q #0005;
  transition : 0s;
}

.button-92 {
  font-weight: bold;
  font-size  : 2rem;
  margin     : 0;
  cursor     : pointer;
  padding    : .1em .3em;
}

.category-name {
  margin: 20px 0
}