body {
  margin: 0;
  font-family:monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (min-width:600px){
  .container{
    max-width: 1200px;
    padding: 0 100px;
  
  }
}
body h1 h2 h3 h4 h5 h6 span a p{
  font-family: monospace;
}